* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1;
  max-width: 1200px;
  margin: 0 auto;
}

/* slider */
#slider {
  height: 30rem;
}

.sliderWrap {
  position: relative;
}

.sliderWrap > div {
  display: none;
}

.sliderWrap > div:first-child {
  display: block;
}

.sliderWrap .slider {
  position: absolute;
  top: 0;
  left: 0;
}

.sliderWrap .slider img {
  vertical-align: top;
}

.sliderWrap .slider .slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2.5rem 3rem;
  color: #fff;
}
.sliderWrap .slider .slider-content h2 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.sliderWrap .slider .slider-content p {
  font-size: 1.6rem;
  text-align: center;
}