/* Import SCSS File 
@import "reset";
@import "variable";
@import "header";
@import "footer";
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1;
  max-width: 1200px;
  margin: 0 auto;
}