/* Import SCSS Files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Noto+Sans:wght@300;400;500;600&display=swap");
@im @import "header";
body {
  font-family: "Noto Sans KR", sans-serif;
}

/* Font color */
/* Background color */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}