@import "variable";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bgc-bl; 
    padding: 2.5rem 0 2.5rem 4rem;
    h1 {
        font-size: 3rem;
        color: $fc-w;
    }
    .nav {
        background: $bgc-d-bl;
        z-index: 2;
        > ul {
            display: flex;
            justify-content: right;
            > li {
                position: relative;
                > a {
                    display: inline-block;
                    padding: 2rem 4.5rem;
                    font-size: 1.6rem;
                    font-weight: 300;
                    color: #fff;
                    transition: all .2s;
                    &:hover {
                        background-color: $bgc-m-bl;
                    }
                }
                > ul {
                    position: absolute;
                    top: 5.6rem;
                    left: 0;
                    background: $fc-w;
                    width: 100%;
                    text-align: center;
                    display: none;
                    > li {
                        > a {
                            display: inline-block;
                            padding: 1.5rem ;
                            font-size: 1.6rem;
                            font-weight: 300;
                            width: 100%;
                            box-sizing: border-box;
                            transition: all .2s;
                            &:hover {
                                background: $bgc-l-bl;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}