object {
    display: block;
}

a {
    text-decoration: none;
}
input, button {
    border: none;
    outline: none;
    background: transparent;
    background-color: transparent;
}

ol, ul, li {
    list-style: none;
}
